
.decoratorDialog .preview {
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    box-shadow: -3px 5px 10px -4px rgba(0,0,0,0.21);
    max-width: 625px;
}

.decoratorDialog .preview_list {
    min-width: 300px;
    position: sticky;
    top: 0;
}

.decoratorDialog .listPreviewBox {
    height: 100%;
}

.decoratorDialog .preview-content {
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.decoratorDialog .preview-content_withPointer {
    cursor: pointer;
}

.decoratorDialog .preview-title {
    color: darkgrey;
    font-size: 12pt;
}

.decoratorDialog .demonstrationElement {
    width: 100%;
    height: 92%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    overflow: hidden;
    border-radius: 7px;
    border: 1px solid lightgray;
    padding-left: 20px;
    padding-right: 20px;
}

.decoratorDialog .demonstrationElement-text {
    display: flex;
    flex-flow: column;
    cursor: text;
    text-align: left;
    margin-left: 20px;
    overflow: visible;
    max-height: 100%;
}

.decoratorDialog .demonstrationElement-text div {
    visibility: initial;
    background-color: inherit;
    margin-top: inherit;
    margin-bottom: inherit;
    border: inherit;
    border-image: none;
    padding: inherit;
    width: 100%;
}

.decoratorDialog .demonstrationElement-text span {
    white-space: pre-wrap;
}

.decoratorDialog .listItemBeginning {
    display: inline-block;
}