
.paragraphDecorators-dialog .preview {
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    background-color: whitesmoke;
    box-shadow: -3px 5px 10px -4px rgba(0,0,0,0.21);
}

.paragraphDecorators-dialog .preview-content {
    height: 235px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

.paragraphDecorators-dialog .preview-title {
    color: darkgrey;
    position: absolute;
    font-size: 12pt;
}

.paragraphDecorators-dialog .demonstrationElement {
    width: 100%;
    height: 85%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    overflow: hidden;
    border-radius: 7px;
    border: 1px solid lightgray;
    padding-left: 20px;
    padding-right: 20px;
}

.paragraphDecorators-dialog .demonstrationElement-text {
    margin-top: -20px;
    display: flex;
    flex-flow: column;
    cursor: text;
    text-align: left;
    text-justify: inter-word;
}

.paragraphDecorators-dialog .demonstrationElement-text div {
    visibility: initial;
    background-color: inherit;
}

.paragraphDecorators-dialog .demonstrationElement-text span {
    white-space: pre-wrap;
}

.aria {
    resize: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 20%;
    padding-bottom: 20%;

}

.ariabox {
    display: table-cell;
     vertical-align: middle;
     width: 100%;
     height: 100%;
}