.decoratorDialog .labeledCheckbox_bold span {
    font-weight: bold;
}

.decoratorDialog .labeledCheckbox_italic span {
    font-style: italic;
}

.decoratorDialog .labeledCheckbox_underlined span {
    text-decoration: underline;
}

.decoratorDialog .labeledCheckbox_stroke span {
    text-decoration: line-through;
}

.decoratorDialog .labeledCheckbox_uppercase span {
    text-transform: uppercase;
}

.decoratorDialog .labeledCheckbox_lowercase span {
    text-transform: lowercase;
}

.decoratorDialog .labeledCheckbox_smallCaps span {
    font-variant: small-caps;
}

.decoratorDialog .stylingsSpan {
    min-width: 115px;
}