
.decoratorDialog .dialogGrid_positioning {
    grid-template-areas: "r1c1 r1c2"
                         "r2 r2"
                         "r3c1 r3c2"
                         "r4 r4"
                         "r5c1 r5c2"
                         "r6c1 r6c2"
                         "r7 r7"
                         "r8c1 r8c2"
                         "r9c1 r9c2";
    grid-template-columns: min-content 1fr;
}

.decoratorDialog .dialogGrid_positioning #r1c1 {
    grid-area: r1c1;
}

.decoratorDialog .dialogGrid_positioning #r1c2 {
    grid-area: r1c2;
}

.decoratorDialog .dialogGrid_positioning #r2 {
    grid-area: r2;
}

.decoratorDialog .dialogGrid_positioning #r3c1 {
    grid-area: r3c1;
}

.decoratorDialog .dialogGrid_positioning #r3c2 {
    grid-area: r3c2;
}

.decoratorDialog .dialogGrid_positioning #r4 {
    grid-area: r4;    
}

.decoratorDialog .dialogGrid_positioning #r5c1 {
    grid-area: r5c1;
}

.decoratorDialog .dialogGrid_positioning #r5c2 {
    grid-area: r5c2;
}

.decoratorDialog .dialogGrid_positioning #r6c1 {
    grid-area: r6c1;         
}

.decoratorDialog .dialogGrid_positioning #r6c2 {
    grid-area: r6c2;
}

.decoratorDialog .dialogGrid_positioning #r7 {
    grid-area: r7;    
}

.decoratorDialog .dialogGrid_positioning #r8c1 {
    grid-area: r8c1;
}

.decoratorDialog .dialogGrid_positioning #r8c2 {
    grid-area: r8c2;
}

.decoratorDialog .dialogGrid_positioning #r9c1 {
    grid-area: r9c1;         
}

.decoratorDialog .dialogGrid_positioning #r9c2 {
    grid-area: r9c2;
}

.decoratorDialog .wideSelectBox {
    display: inherit;
}