.paragraphDecorators-dialog span {
    white-space: nowrap;
}

.paragraphDecorators-dialog .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paragraphDecorators-dialog .header-title {
    font-weight: bold;
    font-size: 22px;
    height: 3rem !important;
    display: flex;
    align-items: center;
}

.paragraphDecorators-dialog .header-buttons {
    display: flex;
}

.paragraphDecorators-dialog .topNavButton {
    margin-left: 1rem !important;
    height: 2rem;
    flex-wrap: nowrap;
}

.paragraphDecorators-dialog .topNavButton:last-child {
    margin-right: 1.5rem;
}

.paragraphDecorators-dialog .content {
    display: flex;
    min-height: 450px;
    width: 100%;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
}

.paragraphDecorators-dialog .content-leftSide {
    width: 235px;
}

.paragraphDecorators-dialog .content-rightSide {
    margin: 0px 0px 0px 40px;
    display: block;
    width: 100%;
    height: 99%;
    padding: 0;
    padding-right: 15px;
    overflow: auto;
}

.paragraphDecorators-dialog .dialogTabs {
    display: flex;
    width: 190px;
    box-shadow:  1px 0px 0px 0px gainsboro;
}

.paragraphDecorators-dialog .dialogTab {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    max-height: 35px !important;
    min-height: 0 !important;
    font-size: 14px !important;
}

.paragraphDecorators-dialog .dialogGrid {
    width: 100%;
    display: grid;
    grid-template-rows: minmax(3.5rem, min-content);
    grid-auto-rows: minmax(3.5rem, min-content);
    grid-gap: 1px 1.5rem;
    grid-auto-flow: row;
    align-items: center;
}

.paragraphDecorators-dialog .dialogGrid_2cols {
    grid-template-columns: auto 1fr; 
}

.paragraphDecorators-dialog .dialogGrid_2minCols {
    grid-template-columns: min-content min-content; 
}

.paragraphDecorators-dialog .dialogGrid_flexStartAligned {
    align-items: flex-start;
}

.paragraphDecorators-dialog .dialogGrid_indented {
    margin-top: 12px;
}

.paragraphDecorators-dialog .dialogGrid_rightAlignedLabels span {
    text-align: right 
}

.paragraphDecorators-dialog .textButton {
    margin-left: 1rem !important;
}

.paragraphDecorators-dialog .highlightedOption {
    font-weight: bold;
    color: red;
}

.paragraphDecorators-dialog .inputWithAdornment {
    display: flex;
    align-items: center;
}

.paragraphDecorators-dialog .numberInput {
    width: 110px;
}

.paragraphDecorators-dialog .middleSizeTextInput {
    width: 223px;
}

.paragraphDecorators-dialog .colorSample {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    margin-left: 0.75rem;
}

.paragraphDecorators-dialog .colorField {
    display: flex;
    align-items: center;
}

.paragraphDecorators-dialog .previewSide {
    align-self: flex-start;
    display: flex;
    justify-content: flex-start; 
    padding-left: 35px;
    padding-right: 10px;
}

.paragraphDecorators-dialog .labeledCheckbox {
    margin-right: 1.3rem;
}

.paragraphDecorators-dialog .labeledCheckbox_indented {
    margin-right: 0.9rem !important;
}

.paragraphDecorators-dialog .labeledCheckbox_bold span {
    font-weight: bold;
}

.paragraphDecorators-dialog .labeledCheckbox_italic span {
    font-style: italic;
}

.paragraphDecorators-dialog .labeledCheckbox_underlined span {
    text-decoration: underline;
}

.paragraphDecorators-dialog .labeledCheckbox_stroke span {
    text-decoration: line-through;
}

.paragraphDecorators-dialog .labeledCheckbox_uppercase span {
    text-transform: uppercase;
}

.paragraphDecorators-dialog .labeledCheckbox_lowercase span {
    text-transform: lowercase;
}

.paragraphDecorators-dialog .labeledCheckbox_smallCaps span {
    font-variant: small-caps;
}

.paragraphDecorators-dialog .checkBoxesSet {
    display: flex;
}

.grid-item {
    background-color: lightsalmon;
    display: flex;
    align-items: center;
    width: 10px;
    height: 100%;
}

.grid-item2 {
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
}





.paragraphDecorators-dialog__form {
    width: 100%;
    height: 100%;
    display: flex;
}

.paragraphDecorators-dialog__col {
    height: 100%;
    margin-right: 1.5rem;
}

.paragraphDecorators-dialog__col:last-child {
    margin-right: 0;
}

.paragraphDecorators-dialog_long-text-field {
    min-width: 575px !important;
    width: 100%;
}

.paragraphDecorators-dialog__col:first-child span {
    text-align: center;
}

.paragraphDecorators-dialog__field-list {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.paragraphDecorators-dialog__field-list li {
      height: 3.5rem;
      display: flex;
      align-items: center;
}
.paragraphDecorators-dialog__col_growing {
    flex-grow: 1;
}

.paragraphDecorators-dialog__col_right-aligned li {
    justify-content: flex-end !important;
}

.paragraphDecorators-dialog__subtitle {
    justify-content: center;
}

.paragraphDecorators-dialog__subtitle h4 {
    margin-bottom: -5px;
}

.paragraphDecorators-dialog__fraction-title {
    margin-top: 1rem;
}

.paragraphDecorators-dialog__adornment-with-indent {
    margin-left: 2rem !important;
}

.paragraphDecorators-dialog__bullet-input {
    min-width: 50px;
    max-width: 50px;
}

.paragraphDecorators-dialog__grey-text {
    color: grey;
    margin-left: 1rem;
}

.paragraphDecorators-dialog__text-button {
    margin-left: 1rem !important;
}

.paragraphDecorators-dialog__labeled-checkbox {
    margin-right: 1rem !important;
}

.paragraphDecorators-dialog__span-with-indent {
    margin-right: 2rem;
}

.paragraphDecorators-dialog__number-input {
    width: 110px;
}

.paragraphDecorators-dialog__small-text-button {
    text-transform: capitalize !important;
    margin-left: -10px !important;
}

.paragraphDecorators-dialog__link {
    font-size: 10pt !important;
    align-self: flex-start !important;
    cursor: pointer;
    margin-top: 5px !important;
    margin-right: 1.5rem !important;
}

.paragraphDecorators-dialog__border-directions {
    display: flex;
    flex-flow: column;
    padding: 15px 20px;
    margin-top: 8px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-right: 25px;
}

.paragraphDecorators-dialog__border-directions .top-row, .center-row, .bottom-row {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.paragraphDecorators-dialog__border-directions .top-row {
    margin-bottom: -10px;
}

.paragraphDecorators-dialog__border-directions .bottom-row {
    margin-top: -10px;
}

.paragraphDecorators-dialog__border-directions .center-square {
    display: flex;
    width: 190px;
    height: 190px;
    flex-flow: row;
    flex-wrap: wrap !important;
    justify-content: space-between;
}

.paragraphDecorators-dialog__border-directions .center-cell {
    min-width: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraphDecorators-dialog__border-directions .checkbox-top {
    margin-bottom: -35px;
}
.paragraphDecorators-dialog__border-directions .checkbox-bottom {
    margin-top: -35px;
}
.paragraphDecorators-dialog__border-directions .checkbox-left {
    margin-right: -30px;
}
.paragraphDecorators-dialog__border-directions .checkbox-right {
    margin-left: -30px;
}

.paragraphDecorators-dialog__direction-span {
    font-size: 10pt;
    color: dimgray;
    user-select: none; 
}

.paragraphDecorators-dialog__top-direction-span {
    margin-left: -9px;
    margin-bottom: -25px; 
}

.paragraphDecorators-dialog__bottom-direction-span {
    margin-left: -6px;
    margin-top: -25px;
}

.paragraphDecorators-dialog__left-direction-span {
    margin-right: -20px;
}

.paragraphDecorators-dialog__right-direction-span {
    margin-left: -20px;
}

.paragraphDecorators-dialog__border-directions .preview {
    padding: 3px 4px;
    font-size: 12pt;
    user-select: none; 
}

.paragraphDecorators-dialog__color-sample {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    margin-left: 0.75rem;
    display: inline-block;
}
