.paragraphDecorators-dialog .MuiDialog-paperScrollBody {
    vertical-align: baseline !important;
}

.paragraphDecorators-dialog__content {
    min-width: 950px;
    display: flex;
    min-height: 450px;
    padding-right: 0px !important;
}

.paragraphDecorators-dialog__left-side {
    width: 200px;
    background-color: white;
}

.paragraphDecorators-dialog__tabs {
    display: flex;
    width: 190px;
    box-shadow:  1px 0px 0px 0px gainsboro;
}

.paragraphDecorators-dialog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paragraphDecorators-dialog__title {
    font-weight: bold;
    font-size: 22px;
    height: 3rem !important;
    display: flex;
    align-items: center;
}

.paragraphDecorators-dialog__header-buttons {
    display: flex;
    justify-content: flex-end;
}

.paragraphDecorators-dialog_top-button {
    margin-left: 1rem !important;
    height: 2rem;
    flex-wrap: nowrap;
}

.paragraphDecorators-dialog_top-button:last-child {
    margin-right: 1.5rem;
}

.paragraphDecorators-dialog__tab {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    max-height: 35px !important;
    min-height: 0 !important;
    font-size: 14px !important;
}

.paragraphDecorators-dialog__right-side {
    margin: 0px 0px 30px 40px;
    display: flex;
    padding: 0;
}

.paragraphDecorators-dialog__form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.paragraphDecorators-dialog__col {
    margin-right: 1.5rem;
}

.paragraphDecorators-dialog__col:last-child {
    margin-right: 0;
}

.paragraphDecorators-dialog__col:first-child span {
    text-align: center;
}

.paragraphDecorators-dialog__field-list {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}

.paragraphDecorators-dialog__field-list li {
      height: 3.5rem;
      display: flex;
      align-items: center;
}

.paragraphDecorators-dialog__col_right-aligned li {
    justify-content: flex-end !important;
}

.paragraphDecorators-dialog__subtitle {
    justify-content: center;
}

.paragraphDecorators-dialog__fraction-title {
    margin-top: 1rem;
}

.paragraphDecorators-dialog__adornment-with-indent {
    margin-left: 2rem !important;
}

.paragraphDecorators-dialog__bullet-input {
    min-width: 50px;
    max-width: 50px;
}

.paragraphDecorators-dialog__grey-text {
    color: grey;
    margin-left: 1rem;
}

.paragraphDecorators-dialog__text-button {
    margin-left: 1rem !important;
}

.paragraphDecorators-dialog__labeled-checkbox {
    margin-right: 1rem !important;
}

.paragraphDecorators-dialog__span-with-indent {
    margin-right: 2rem;
}

.paragraphDecorators-dialog__number-input {
    width: 110px;
}

.paragraphDecorators-dialog__small-text-button {
    text-transform: capitalize !important;
    margin-left: -10px !important;
}

.paragraphDecorators-dialog__link {
    font-size: 10pt !important;
    align-self: flex-start !important;
    cursor: pointer;
    margin-top: 5px !important;
    margin-right: 1.5rem !important;
}

.paragraphDecorators-dialog__border-directions {
    display: flex;
    flex-flow: column;
    padding: 15px 20px;
    margin-top: 8px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.paragraphDecorators-dialog__border-directions .top-row, .center-row, .bottom-row {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.paragraphDecorators-dialog__border-directions .top-row {
    margin-bottom: -10px;
}

.paragraphDecorators-dialog__border-directions .bottom-row {
    margin-top: -10px;
}

.paragraphDecorators-dialog__border-directions .center-square {
    display: flex;
    width: 190px;
    height: 190px;
    flex-flow: row;
    flex-wrap: wrap !important;
    justify-content: space-between;
}

.paragraphDecorators-dialog__border-directions .center-cell {
    min-width: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraphDecorators-dialog__border-directions .checkbox-top {
    margin-bottom: -35px;
}
.paragraphDecorators-dialog__border-directions .checkbox-bottom {
    margin-top: -35px;
}
.paragraphDecorators-dialog__border-directions .checkbox-left {
    margin-right: -30px;
}
.paragraphDecorators-dialog__border-directions .checkbox-right {
    margin-left: -30px;
}

.paragraphDecorators-dialog__direction-span {
    font-size: 10pt;
    color: dimgray;
    user-select: none; 
}

.paragraphDecorators-dialog__top-direction-span {
    margin-left: -9px;
    margin-bottom: -25px; 
}

.paragraphDecorators-dialog__bottom-direction-span {
    margin-left: -6px;
    margin-top: -25px;
}

.paragraphDecorators-dialog__left-direction-span {
    margin-right: -20px;
}

.paragraphDecorators-dialog__right-direction-span {
    margin-left: -20px;
}

.paragraphDecorators-dialog__border-directions .preview {
    padding: 3px 4px;
    font-size: 12pt;
    user-select: none; 
}

