.colorPicker {
    margin-left: 20px;
    margin-top: -50px;
    position: relative;
}

.colorPicker_bottomAligned {
    margin-top: -410px !important;
}

.colorPicker-popOver {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 4;
}

.colorPicker-chromeBox {
    position: absolute;
    z-index: 5;
}